<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Tasks of ToDo List</title>
    <link rel="stylesheet" href="/general.css">
</head>
<body>
    <div th:insert="~{header :: header}" style="display: flex; padding: 0 20px; border-bottom: solid 1px gray;"></div>
    <h1 th:utext="${todo}"></h1>
    <a th:href="@{/tasks/create/todos/{todo_id}(todo_id=${todo_id})}" class="button">Create Task</a>
    <table>
        <tr>
            <th>No.</th>
            <th>Id</th>
            <th>Name</th>
            <th>Priority</th>
            <th>State</th>
            <th colspan="2">Operations</th>
        </tr>
        <tr th:each ="task,iterationStatus : ${tasks}">
            <th th:utext="${iterationStatus.count}">...</th>
            <td th:utext="${task.id}">...</td>
            <td th:utext="${task.name}">...</td>
            <td th:utext="${task.priority}">...</td>
            <td th:utext="${task.state.name}">...</td>
            <td><a th:href="@{/tasks/{task_id}/update/todos/{todo_id}(task_id=${task.id}, todo_id=${id})}">Edit</a></td>
            <td><a th:href="@{/tasks/{task_id}/delete/todos/{todo_id}(task_id=${task.id}, todo_id=${id})}">Remove</a></td>
        </tr>
    </table>
    <br>
    <br>
    <h1>Collaborators:</h1>
    <form class="form-collab" th:action="@{/todos/{id}/add(id=${id})}" th:object="${collab}" method="post">
        <select id="user" name="user">
            <option disabled selected value="">Select collaborator</option>
            <option th:each="collaborator : ${notCollaborators}" th:utext="${collaborator.id} + ' ' + ${collaborator.lastName}"></option>
        </select>
        <input type="submit" value="Add">
    </form>

    <table>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Operation</th>
        </tr>
        <tr th:each ="collaborator,iterationStatus : ${collaborators}">
            <th th:utext="${iterationStatus.count}">...</th>
            <td th:utext="${collaborator.firstName} + ' ' + ${collaborator.lastName}">...</td>
            <td><a th:href="@{/todos/{id}/remove(id=${id})}">Remove</a></td>
        </tr>
    </table>
    <a th:href="@{/todos/all/users/{user_id}(user_id=${owner_id})}" class="button">Go to ToDo list</a>
</body>
</html>