*.iml
/.idea
*.xml
/sprint01/task01/target
/sprint01/task02/target
/sprint01/task03/target
/sprint01/task04/target
/sprint01/task05/target
/sprint01/task06/target

/sprint02/task01/target
/sprint02/task02/target
/sprint02/task03/target
/sprint02/task04/target
/sprint02/task05/target
/sprint02/task06/target

/sprint03/task01/target
/sprint03/task02/target
/sprint03/task03/target
/sprint03/task04/target
/sprint03/task05/target
/sprint03/task06/target

/sprint04/task01/target
/sprint04/task02/target
/sprint04/task03/target
/sprint04/task04/target
/sprint04/task05/target
/sprint04/task06/target

/sprint05/task01/target
/sprint05/task02/target
/sprint05/task03/target
/sprint05/task04/target
/sprint05/task05/target

/sprint06/task01/target
/sprint06/task02/target
/sprint06/task03/target
/sprint06/task04/target
/sprint06/task05/target
/sprint06/task06/target