*.iml
/.idea
*.xml
/sprint01/task01/target
/sprint01/task02/target
/sprint01/task03/target
/sprint01/task04/target
/sprint01/task05/target
/sprint01/task06/target

/sprint02/task01/target
/sprint02/task02/target
/sprint02/task03/target
/sprint02/task04/target
/sprint02/task05/target
/sprint02/task06/target